.aboutBlack{
    margin-top: 3%;
    width: 100vw;
    background-color: #0C0606;
    display: flex;

}
.aboutBlackLeft{
    width: 50%;
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2%;
}
.aboutBlackRight{
    width: 50%;
    flex: 0 0 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10% 2%;
    color: #fff;
}
.aboutBtn{
    background-color: transparent;
    text-decoration: none;
    color: #fff;
    font-family: 'Cormorant SC', serif;
    border: 1px solid #E1DBD7;
    padding: 10px 20px;
    cursor: pointer;
    width: 30%;
    margin-top: 5%;
}
.aboutBtn:hover{
    background-color: #E1DBD7;
    color: #000;
    transition: all 0.3s ease-in-out;
}
@media (max-width: 730px){
    .aboutBlackRight{
        padding: 2%;
    }
    .aboutBlackRight p{
        font-size: 14px;
    }
    .aboutBtn{
        width: 50%;
    }
}
@media (max-width: 540px){
    .aboutBlack{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutBlackLeft{
        width: 100%;
        flex: 0 0 100%;
        padding: 0%;
    }
    .aboutBlackRight{
        width: 100%;
        flex: 0 0 100%;
        position: absolute;
        text-align: center;
        padding: 2% 10%;
    }
    .aboutBlackRight h1{
        font-size: 20px;
        padding-bottom: 10px;
    }
    .aboutBlackRight p{
        font-size: 13px;
    }
    .aboutBtn{
        width: 40%;
    }
}
