.heroSection{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroSection img{
    width: 100%;
    object-fit: cover;
}
.heroText{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 4%;
}
.heroText h1, .heroText p{
    padding: 25px 0px 25px 0px;
}
.shopBtn{
    background-color: transparent;
    color: #fff;
    font-family: 'Cormorant SC', serif;
    border: 1px solid #E1DBD7;
    padding: 10px 20px;
    cursor: pointer;
}
.shopBtn:hover{
    background-color: #E1DBD7;
    color: #000;
    transition: all 0.3s ease-in-out;
}
@media (max-width: 990px){
    .heroText{
        top: 30%;
    }
    .heroText h1{
        font-size: 30px;
    }
    .heroText p{
        font-size: 16px;
    }
}
@media (max-width: 700px){
    .heroText{
        top: unset;
        left: unset;
    }
}
@media (max-width: 540px){
   
    .heroText h1{
        font-size: 20px;
    }
    .heroText p{
        font-size: 14px;
    }
    .shopBtn{
        display: none;
    }
}
@media (max-width: 400px){
    .heroText p{
        padding: 5px 0px 5px 0px;
    }
    .heroText h1{
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        padding-top: 20px;
        
    }
}